*{
    font-family: 'Nunito', sans-serif;
}
body{
    padding: 0 5% 0 5%;
    background-image: url(./assets/bcg.jpg);
    background-size: cover;
}
.title{
    display: flex;
    justify-content: center;
}
.form{
    width: 100%;
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
}
.checkem{
    border: 2px solid blue;
    background-color: rgba(255,255,255, .7);
    color: black;
    font-weight: bold;
    height: 1.5em;
    padding: 1em;
    font-size: 1em;
    outline: none;
}
.butSub{
    height: 3.5em;
    padding: 1em;
}
.menu{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
    opacity: .7;
}
.menu-list{
    list-style: none;
}
.menu-list__item{
    display: inline;
}
.rules, .p-text{
    width: 95%;
    background-color: #fff;
    padding: 1em;
    border-radius: 10px;
    opacity: .8;
}
.wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 0em;
    width: 12.6em;
    margin-left: 50%;
    transform: translate(-70%);
    position: relative;
}
.divwin{
    display: none;
}
.p-text{
    width: 100%;
    text-align: center;
}
.sloth{
    width: 15em;
    height: 15em;
    margin: 0 auto;
    background-image: url(./assets/sloth.jpg);
    background-size: contain;
}
.sqr{
    width: 6em;
    height: 6em;
    background-color: gray;
}
.active{
    border: 2px solid red;
    transform: rotate(0deg);
}
.uncheck{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3em;
    height: 3em;
    background-color: gray;
    border-radius: 50%;
}
.rotate{
    grid-column: 1/4;
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
    width: 100%;
}
.left{
    width: 100%;
    height: 100%;
}
.wrapperTwo{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: .3em;
    width: 9.6em;
    margin: 0 auto;
    display: none;
}
.sqre{
    background-color: green;
}

/* BACGROUNDS */
.a{
    background-image: url(./assets/1.jpg);
}
.b{
    background-image: url(./assets/2.jpg);
}
.c{
    background-image: url(./assets/3.jpg);
}
.d{
    background-image: url(./assets/4.jpg);
}
.e{
    background-image: url(./assets/5.jpg);
}
.f{
    background-image: url(./assets/6.jpg);
}
.g{
    background-image: url(./assets/7.jpg);
}
.h{
    background-image: url(./assets/8.jpg);
}
.i{
    background-image: url(./assets/9.jpg);
}
.a, .b, .c, .d, .e, .f, .g, .h, .i{
    background-size: cover;
}
